/* For Tablets */
@media all and (max-width: 1000px) {
  .menu-icon{display:none;}
  .top-wrapper .container h1{
    font-size:32px;
  }
  .lessons .lesson{
    width:50%;
    margin-bottom:10%;
  }
  .lesson-wrapper{
    height:930px;
  }

}

/* For Smartphones */
@media all and (max-width: 670px) {
  .menu-icon{display:block;}
  .header-right{display:none;}
  .top-wrapper .container h1{
    font-size:24px;
  }
  .top-wrapper {
    text-align: left;
}
  .container {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}
  .top-wrapper p {
    font-size: 14px;
    line-height: 20px;
}
.btn {
    width: 100%;
}
.btn:hover {
    opacity: 1;
}
.facebook {
    margin-bottom: 10px;
}
.btn-wrapper.btn {
    margin-bottom: 10px;
}
.btn-wrapper {
    text-align: center;
    margin: 20px 0;
}
.top-wrapper h1 {
    font-size: 24px;
    line-height: 36px;
}

  .lessons .lesson{
    width:100%;
    margin-bottom:19%;
  }
  .heading h2 {
    font-size: 20px;
}
.heading h2 {
    font-weight: normal;
}
  .lesson-wrapper{
    height:1600px;
  }
  .lessons-icon p{
    padding-bottom:5px;
  }
  footer {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
}
}